
.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

// start movie selection styles
mat-card:hover .selection {
  opacity: 1;
}
mat-card.mat-elevation-z4 .selection {
  opacity: 1;
}
.card-selected {
  border: 4px solid #283593;
}

.selection {
  opacity: 0;
  cursor: pointer;
  color: #283593;
  background: #fff;
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}
// end movie selection styles
