.example-container {
    position: absolute;
    top: 150;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: fixed;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 150;
    left: 0;
    overflow-x: hidden;

    background: green;
  }