<img src="./assets/redCurtainsLogo.jpg" />
<h1>Welcome to Movie MeetUp!</h1>
<p>Description text of what the app do</p>
<h3>To create a Movie Watch Event, login or sign up!</h3>
<div class="introButton">
  <a
    href="https://auth.moviemeetup.com/login?response_type=token&client_id=3can93q53vqr18qoidsi1g65l7&redirect_uri={{
      loginURL
    }}"
    mat-raised-button
    color="primary"
    >LogIn/SignUp</a
  >
  <!-- <a
    href="https://movie-meetup.auth.us-west-2.amazoncognito.com/login?response_type=token&client_id=3can93q53vqr18qoidsi1g65l7&redirect_uri=http://localhost:4200/home"
    mat-raised-button
    color="primary"
    >LogIn/SignUp</a
  > -->
</div>
