<div class="description">
  <h1>Welcome to IKE</h1>
  <h2>The Movie/Screening Selection Tool for Groups of Friends, Co-Workers, or Families</h2>
  <h2>Make the most of your group's visit to <strong>Circle Cinema</strong></h2>

  <h3>Which get-together would you prefer?</h3>
</div>

<div class="row">
  <div class="column">
    <figure>
      <figcaption>Who picked this movie?</figcaption>
      <img src="../../assets/moviewatch-sad.jpg" alt="disappointed movie patrons">
    </figure>
  </div>
  <div class="column">
    <figure>
      <figcaption>I had the <strong>BEST</strong> time at the movies!</figcaption>
      <img src="../../assets/moviewatch-happy.jpg" alt="happy movie patrons">
    </figure>
  </div>
</div>

<div class="description">
  <!-- <h1>Welcome to Cinema MeetUp!</h1>
  <p>Cinema MeetUp helps groups decide upon a movie they would all like to watch, using a ranked-choice voting algorithm. Get started today by creating an event and selecting your movies. Then invite people to rank the movies they would most like to see!</p> -->
  <p>IKE helps your group decide upon a movie (and screening day/time) they would most want to watch using ranked-choice voting.<br>IKE makes it easy for your group to make the best decision (and helps everyone buy their tickets).</p>

  <p>If you're the host, all you need to do is create an event and then invite by e-mail your friends, family, or co-workers to rank the movies that they would most like to see.</p><br> 

  <p>Log In or Create an Account to get started!</p>
</div>
<div class="introButton">
   <a
    href="https://cinema-meetup.auth.us-west-2.amazoncognito.com/login?response_type=token&client_id=6ho65lnv4mnbt0pdgbrpe0t6ii&redirect_uri={{
      loginURL
    }}"
    mat-raised-button
    color="primary"
    >LogIn/SignUp</a
  > 
</div>

<footer>
  <p>Privacy Policy</p>
</footer>
