.description {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 50%;
}

.description p {
  font-size: medium;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  //font-family: 'Arial Black', sans-serif;
  padding-top: 1.5em;
}

h2 {
  padding: -5px 0px;
  //font-family: 'Arial Black', sans-serif;
  //padding: .5em;
}

.row {
  display: flex;
  justify-content:center;
  margin:auto;
  max-width: 60%;
  //align-items: center;
}

.column {
  //flex: 50%;
  padding: 5px;
}

figure {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

figcaption {
  text-align: center;
  font-size: small;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  /* max-height: 20%;  */
}


.introButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 50%;
  font-size: small;
}

@media all and (max-width: 850px) {
  .description {
    max-width: 90%;
  }

  .row {
    max-width: 90%;
    //align-items: center;
  }
}

@media all and (max-width: 475px) {
  h1 {
    font-size: 1.5em;
    padding-top: 2.2em;
  }
  h2 {
    font-size: medium;
    margin-bottom: 0;
  }
  .description p {
    font-size:small;
  }
  .row {
    display: block;
  }

  footer p {
    font-size: smaller;
  }
}