<app-input></app-input>
<h1>Rank the Movies!</h1>
<p>First choice goes on the top of the list, last choice goes on the bottom of the list</p>

<div>
  <h2>
    Top Choice: {{
    Movie === undefined
      ? "Loading..."
      : Movie.length === 0
      ? "No results"
      : Movie[0].title + " " + Movie[0].description + " id: " + Movie[0].id
    }}
  </h2>
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of Movie" cdkDrag>
    {{movie.title}} {{movie.description}} id: {{movie.id}}
    <img *cdkDragPreview [src]="movie.image" [alt]="movie.title">
  </div>
</div>


