<app-topNav></app-topNav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of Movie" cdkDrag>
    {{ movie.title }} {{ movie.description }} id: {{ movie.id }}
    <img *cdkDragPreview [src]="movie.image" [alt]="movie.title" />
  </div>
</div>

<button mat-raised-button color="primary" (click)="submitRanking()">
  Submit
</button>

<h1>Current Highest Rank: {{ highestRank }}</h1>

<a [routerLink]="['/events']">Create Event</a>
<!-- <a class="main-nav__link" routerLink="/events">Create Event Link</a>  -->
<router-outlet></router-outlet>
