<div class="container">
  <!-- <h1>Event Title: {{ eventTitle }}</h1> -->
  <h2>Event Date: {{ eventDate }}</h2>

  <h3>Top Selected Movie(s):</h3>
  <ng-container *ngIf="finalRankings">
    <div class="content">
      <div *ngIf="finalRankings.length == 0"> 
        No rankings submitted. Submit at least one ranking to see the final selection!
      </div>
      <div *ngIf="topChoices.length > 1">
        There is a {{ topChoices.length }}-way tie!
      </div>
      <div class="cardHeader">
        {{ topChoices }}
        <!--{{ finalRankings[0].title }}-->
      </div>
      <mat-card *ngIf="rankings" class="movie-card">
        <!--<div class="content" *ngIf="finalRankings">
          <app-movie-card [movie]="finalRankings[0]"> </app-movie-card>
        </div>-->
        <div *ngIf="finalRankings.length > 0" class="content">
          <img
            mat-card-image
            src="{{ finalRankings[0].poster }}"
            alt="Movie Poster for {{ finalRankings[0].title }}"
          />
        </div>
      </mat-card>
    </div>
  </ng-container>

  <h3 *ngIf="finalRankings.length > 0">Final Rankings:</h3>
  <div *ngIf="finalRankings.length > 0" class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Movie Title</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="rankings">
          <tr *ngFor="let movie of finalRankings; let i = index">
            <td>{{ movie.title}} - {{ rankingConvert(movie.timestamp!) }} </td>
            <td class="points">{{ movie.points }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

