<h1>Event Title: {{ eventTitle }}</h1>
<h2>Event Date: {{ eventDate }}</h2>

<h3>The Top Selected Movie Is...</h3>

<ng-container *ngIf="highestRank">
  <div class="content">
    <div class="cardHeader">
      {{ highestRank.title }}
    </div>
    <mat-card *ngIf="rankings" class="movie-card">
      <div class="content">
        <mat-card-header>
          <!--<mat-card-title>{{ movieItemArray[0].title }}</mat-card-title> -->
        </mat-card-header>
        <img
          mat-card-image
          src="{{ highestRank.image }}"
          alt="Movie Poster for {{ highestRank.title }}"
        />
      </div>
    </mat-card>
  </div>
</ng-container>

<h3>Final Rankings:</h3>
<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Movie Title</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="rankings">
        <tr *ngFor="let movie of rankings[1].UserRankings; let i = index">
          <td>{{ movie.title }}</td>
          <!-- temporary number placeholder below -->
          <td class="points">{{ movie.points }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<app-event-ranking-details [eventRankings]="rankings"> </app-event-ranking-details>
