h1 {
  padding-top: 1em;
}

h3 {
  text-align: center;
  padding-top: 20px;
}

img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
  //overflow: hidden;
  object-fit: cover;
  object-position: bottom;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.cardHeader {
  text-align: center;
  margin: 16px;
  font-size: medium;
  font-weight: bold;
  padding: 20px;
  overflow-wrap: normal;
}

.container {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 500px;
}

.movie-card {
  //padding: auto;
  width: 50%;
  //width: 250px;
  //height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: auto;
}

a {
  margin: 1em;
  padding: .5em 1em;
  width: 50%;
}
a:link, a:visited {
  background-color:darkgreen;
  color: white;
  font-weight:bold;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:hover, a:active {
  background-color: forestgreen;
}

.points {
  text-align: center;
}
