<app-image-header></app-image-header>
<div class="container">
  <!-- <h1>Event Title: {{ eventTitle }}</h1> -->
  <!-- <h2>Event Date: {{ eventDate }}</h2> -->

  <h3 class="pageTop">Top Selected Movie(s):</h3>
  <ng-container *ngIf="finalRankings">
    <div class="content">
      <div *ngIf="finalRankings.length == 0"> 
        No rankings submitted. Submit at least one ranking to see the final selection!
      </div>
      <div *ngIf="topChoices.length > 1">
        There is a {{ topChoices.length }}-way tie!
      </div>
      <div class="cardHeader">
        <p>{{ topChoices }}</p>
        <p>{{ this.rankingConvert(finalRankings[0].timestamp!) }}</p>
        <p>{{ finalRankings[0].room }}</p>
      </div>
      <mat-card *ngIf="rankings" class="movie-card">
        <!--<div class="content" *ngIf="finalRankings">
          <app-movie-card [movie]="finalRankings[0]"> </app-movie-card>
        </div>-->
        <div *ngIf="finalRankings.length > 0" class="content">
          <img
            mat-card-image
            src="{{ finalRankings[0].poster }}"
            alt="Movie Poster for {{ finalRankings[0].title }}"
          />
        </div>
      </mat-card>
      <a href="{{ finalRankings[0].screeninglink! }}" target="_blank">Buy Tickets!</a>
    </div>
  </ng-container>

  <h3 *ngIf="finalRankings.length > 0">Final Rankings:</h3>
  <div *ngIf="finalRankings.length > 0" class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="left-aligned" scope="col">Movie Title</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="rankings">
          <tr *ngFor="let movie of finalRankings; let i = index">
            <td class="movie-data">{{ movie.title}} - {{ rankingConvert(movie.timestamp!) }} - {{ movie.room }} </td>
            <td class="points">{{ movie.points }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <table class="voter-table">
      <thead>
        <tr>
          <th class="left-aligned" scope="col">Voters</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="rankings">
          <tr *ngFor="let ranking of rankings; let i = index">
            <td class="movie-data">{{ ranking.userID }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

