mat-toolbar {
  justify-content: space-between;
  padding-top: 0px;
}

* {
  justify-content: center;
  text-align: center;
}

body {
  padding: 0em 1em;
}
.fixedNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150;
  display:flex;
  justify-content: space-between;
  
  /*.
  padding-top: 15px;
  margin: 0em -1.5em auto;
  background-color: white;
  z-index: 1;
  text-align: left; */
} 

app-topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: revert;
  width: 100%;
  z-index: 8;
  
  justify-content: space-between;
}

mat-form-field {
  padding-top: 5%;
  width: 90%;


}

h3 {
  padding: 5%;
}
.fixedHead {
    top: 37px;
    width: 200px;
    position: fixed;
    /* z-index: 1;*/
    height: 100%;
    left: 0;
    overflow-x: hidden;
    background-color: white;
    align-items: center;
  /*
  position: sticky;
  top: 40px;
  margin: 0em -1.5em auto;
  z-index: 1;
  padding-top: 0px;
  background-color: white;
  border-bottom: 1px solid #3f51b5;  */
}

.example-container {
  /* display: absolute; */
  /*align-items: center;
  justify-content: center; */
  /*height: 100%; */
  /* width: 50%; */
  position: absolute;
  /* z-index: 1; */
  top: 300;
  left: 0;
  right: 0;
  overflow-x: hidden;

  background: white;
}
.example-sidenav {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 200px;
  background: yellow;
}
.mobile-menu {
  background: white;
  color: black;
  padding: 8px;
  position:fixed;
  top: 4em;
  width:2%;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content:flex-start;
  .menu-button {
      margin-right: 24px;
      min-width: 0;
      padding: 0;
      line-height: normal;
  }
}

mat-datepicker-toggle {
  z-index: 9999;
}
mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 0em 3em;
  align-items: flex-start;
}

mat-radio-button {
  margin: 5px;
}


.filter {
  font-size: smaller;
  margin: 0px 3px;
}

.filter-button-row {
  padding: 5%;
}

.clearfilter {
  font-size: smaller;
  margin: 3px;
}

.clickable {
  cursor: pointer;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}




.content {
  margin: 16px 0px;
  font-size: small;
  font-weight: bold;
  padding: 10px;
  overflow-wrap: normal;
}

.flex-test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.createBox p {
  display: block;
}

.confirmation {
  margin: 1em;
  font-size: 1.25rem;
}

.movieTitle {
  font-size: smaller;
  font-weight: bold;
  padding: 10px 0px;
  word-wrap: normal;
}



@media only screen and (max-width: 600px) {
  .movie-card {
    //padding: auto;
    width: 125px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movieTitle {
    font-size: x-small;
  }
  .fixedHead {
    width: 100%;
    height: 24%;
    //display: flex;
    //flex-direction: column;
  }

  /*
  }*/

  .content {
    margin-top:110px;
  }
  
      // all elements within will need to be rearranged and sized
    
  .example-button-row filter {
    display: block; // block?
  }
  .desktop p {
    display: none;
  }
  mat-form-field {
    width: 40%;
    padding: 0;
    font-size: xx-small;
    margin-bottom: -1em;
  }
  h3 {
    font-size:small;
    font-weight: bold;
    padding: 10px 0 0 0;
    margin-bottom: 0px;
  }
  .trim {
    padding: 0px;
  }
  
  
  .example-sidenav {
    width: 0px;
    background: white;
  }
  
  .example-content {
    margin-left: 0;
  }
  mat-radio-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em auto;
    align-items: flex-start;
  }
  
  mat-radio-button {
    margin: 0px 5px;
  }
}

@media only screen and (max-width:380px) {
  h3 {
    font-size: x-small;
  }
  mat-radio-button {
    font-size: x-small;
  }
}

/* @media only screen and (max-width:412px) {
  .content > .content:first-of-type {
  margin-top: 110px;
}
 .flex-test .content {
  margin: 16px 0px;
}
} */

/*@media only screen and (min-width:413px) and (max-width: 600px) {
  .content {
    margin: 110px;
  }
} */

@media only screen and (min-width:740px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .desktop {
    display: flex;
    justify-content:center;
  }
}
