mat-toolbar {
  justify-content: space-between;
}

body {
  padding-top: 0px;
}

.fixedHead {
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 9999;
  background-color: white;
  border-bottom: 1px solid blue;
}

.clickable {
  cursor: pointer;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

.content {
  margin: 16px;
  font-size: medium;
  font-weight: bold;
  padding: 20px;
  overflow-wrap: normal;
}

.createBox p {
  display: inline-block;
}

.confirmation {
  margin-left: 2em;
  font-size: 1.25rem;
}

.movieTitle {
  font-size: medium;
  font-weight: bold;
  padding: 20px;
  word-wrap: normal;
}
