<!--<p>
  <mat-form-field appearance="fill">
    <mat-label>Enter Host ID</mat-label>
    <input matInput type="text" [(ngModel)]="hostID" />
  </mat-form-field>
</p> -->
<div> <!-- class="fixedNav" -->
  <!-- <mat-sidenav-container></mat-sidenav-container> -->
  <app-topNav></app-topNav>
  
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [(opened)]="isMenuOpen" class="example-sidenav" >
    
    <!--<div class="fixedNav">
      
      <app-topNav></app-topNav> 
    </div> -->
    <div class="fixedHead">
    <!--   <p>Logged in HostID: {{ sessionhostID }}</p>
    -->
    <h3>1. Select a date for your gathering to see what's playing that day.</h3>
      <div class="desktop">
        <p>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Enter Event Title</mat-label>
            <input matInput type="text" [(ngModel)]="eventTitle" />
            <mat-error>{{ getErrorMessage() }}</mat-error
          </mat-form-field>
        -->
        </p>
        
        <mat-form-field appearance="fill">
          <mat-label id="default">Choose a Date</mat-label>
          <input
            matInput
            [min]="minDate"
            [matDatepicker]="picker"
            (dateInput)="setDate($event)"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <h3 class="trim">2. Filter the selected day by time ranges, if desired!</h3>

      <!-- Angular Material button examples -->
      <!--<div class="example-button-row">  
        <button mat-fab class="filter" (click)="filterMoviesByTime('morning')">8am-Noon</button>
        <button mat-fab class="filter" (click)="filterMoviesByTime('afternoon')" color="primary">Noon-5pm</button>
        <button mat-fab class="filter" (click)="filterMoviesByTime('evening')" color="accent">5pm-Mid</button>
      </div> -->
      <mat-radio-group aria-label="Select a time filter option">
        <!-- <mat-radio-button value=""color="primary" checked>none</mat-radio-button> -->
        <mat-radio-button value="morning" (change)="filterMoviesByTime($event.value)" >Morning only</mat-radio-button>
        <mat-radio-button value="afternoon" (change)="filterMoviesByTime($event.value)" >Afternoon only</mat-radio-button>
        <mat-radio-button value="evening" (change)="filterMoviesByTime($event.value)" >Evening only</mat-radio-button>
        <mat-radio-button value="clear times" (change)="resetFilters()" [checked]="timeFilteredMovies.length === 0">All Day</mat-radio-button>
        <!-- <mat-radio-button value="afternoon">afternoon</mat-radio-button>
        <mat-radio-button value="evening">evening</mat-radio-button> -->
      </mat-radio-group>

      <!-- <div class="filter-button-row">
        <button mat-stroked-button class="clearfilter" (click)="resetFilters()">Clear time ranges</button>
      </div> -->

      <h3 class="trim" style="color: red">
        {{ errormsg }}
      </h3>
      <div class="createBox">
        <p>
          <button mat-raised-button color="primary" (click)="createEvent()">
            Use these movie options
          </button>
        </p>
        <p *ngIf="confirmed" class="confirmation" style="color: green">
          <strong>{{ confmsg }}</strong>
        </p>
      </div>
    </div>
  </mat-sidenav>

<!-- TABLE TO DISPLAY CREATED EVENTS -->
<!--<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Date</th>
        <th scope="col">Movies Selected</th>
        <th scope="col">Votes Returned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viewing of events | keyvalue">
        <td>{{ viewing.value.eventTitle }}</td>
        <td>{{ viewing.value.eventDate }}</td>
        <h2 *ngFor="let selectedMovie of viewing.value.selectedMovies">
          <h4>{{ selectedMovie.title }}</h4>
        </h2>
        
        <mat-divider></mat-divider>
      </tr>
    </tbody>
  </table>
</div>-->
  <mat-sidenav-content class="example-content">
    
  <!-- GRID TO DISPLAY MOVIES -->
    <div class="content">
      <!--<div class="mobile-menu">
      <button mat-button class="menu-button" (click)="isMenuOpen = !isMenuOpen">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </div> -->
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div class="flex-test" *ngIf="eventDate !== ''; else elseBlock;">
          <ng-container *ngIf="timeFilteredMovies.length > 0; then timeFilt; else altBlock;"></ng-container>
            <ng-template #timeFilt> 
            <div class="content" *ngFor="let movie of timeFilteredMovies">
              <app-movie-card [movie]="movie"> </app-movie-card>
              <div class="movieTitle">{{ movie.title }}</div>
              <div class="moviesTitle" *ngFor="let item of movie.shows[0].show">
                <div class="moviesTitle">{{ unixConvert(item.timestamp) }} - Screen {{item.screen}}</div>
              </div>
            </div>
          </ng-template>
          <ng-template #altBlock>
            <div class="content" *ngFor="let movie of filteredMovies">
              <app-movie-card [movie]="movie"> </app-movie-card>
              <div class="movieTitle">{{ movie.title }}</div>
            <!-- <div class="movieTitle">{{ if (movie.shows.show[0].timestamp || movie.shows.show }}</div> -->
            <!-- <div class="moviesTitle">{{ Object.prototype.toString.call(movie.shows.show) !== '[object Array]' ? [movie.shows.show] : movie.shows.show[0].timestamp }}</div> -->
            <!-- if shows is an array, then show the first one, otherwise show the single show -->
                <div class="moviesTitle" *ngFor="let item of movie.shows[0].show"> <!-- {{ movie.shows[0].show[0].timestamp }}</div> -->
                  <div class="moviesTitle" *ngIf="unixConvert(item.timestamp).substring(0,11) === eventDate.substring(0,11)">{{ unixConvert(item.timestamp) }} - Screen {{item.screen}}</div>
                </div>
            </div>
          </ng-template>
          
        </div>
        <ng-template #elseBlock>
          <div class="content" *ngFor="let movie of eventMovies">
            <app-movie-card [movie]="movie"> </app-movie-card>
            <div class="movieTitle">{{ movie.title }}</div>
            <!-- <div class="movieTitle">{{ if (movie.shows.show[0].timestamp || movie.shows.show }}</div> -->
            <!-- <div class="moviesTitle">{{ Object.prototype.toString.call(movie.shows.show) !== '[object Array]' ? [movie.shows.show] : movie.shows.show[0].timestamp }}</div> -->
            <!-- if shows is an array, then show the first one, otherwise show the single show -->
            <div class="moviesTitle" *ngFor="let item of movie.shows[0].show"> <!-- {{ movie.shows[0].show[0].timestamp }}</div> -->
                <div class="moviesTitle">{{ unixConvert(item.timestamp) }} - Screen {{item.screen}}</div>
            </div>
            <!-- <div class="moviesTitle">{{ movie.shows.show[0].timestamp ? movie.shows.show[0].timestamp : movie.shows }}</div> -->
          </div>
        </ng-template>
      </div>
      </div>
    <!--</div>-->
  </mat-sidenav-content>
</mat-sidenav-container>
