mat-toolbar {
  justify-content: space-between;
  padding-top: 0px;
}

* {
  justify-content: center;
  text-align: center;
}

body {
  padding: 0em 1em;
}
.fixedNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150;
  display:flex;
  justify-content: space-between;
  
  /*.
  padding-top: 15px;
  margin: 0em -1.5em auto;
  background-color: white;
  z-index: 1;
  text-align: left; */
} 

app-topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: revert;
  width: 100%;
  z-index: 8;
  
  justify-content: space-between;
}

mat-form-field {
  padding-top: 5%;
  width: 90%;


}

h3 {
  padding: 5%;
}
.fixedHead {
    top: 37px;
    width: 200px;
    position: fixed;
    /* z-index: 1;*/
    height: 100%;
    left: 0;
    overflow-x: hidden;
    background-color: white;
    align-items: center;
  /*
  position: sticky;
  top: 40px;
  margin: 0em -1.5em auto;
  z-index: 1;
  padding-top: 0px;
  background-color: white;
  border-bottom: 1px solid #3f51b5;  */
}

.example-container {
  /* display: absolute; */
  /*align-items: center;
  justify-content: center; */
  /*height: 100%; */
  /* width: 50%; */
  position: absolute;
  /* z-index: 1; */
  top: 300;
  left: 0;
  right: 0;
  overflow-x: hidden;

  background: white;
}
.example-sidenav {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 200px;
  background: yellow;
}

mat-datepicker-toggle {
  z-index: 9999;
}

.filter {
  font-size: smaller;
  margin: 0px 3px;
}



.clickable {
  cursor: pointer;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}




.content {
  margin: 16px;
  font-size: medium;
  font-weight: bold;
  padding: 20px;
  overflow-wrap: normal;
}

.createBox p {
  display: block;
}

.confirmation {
  margin: 1em;
  font-size: 1.25rem;
}

.movieTitle {
  font-size: smaller;
  font-weight: bold;
  padding: 10px 0px;
  word-wrap: normal;
}

@media only screen and (max-width: 600px) {
  .movie-card {
    //padding: auto;
    width: 125px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movieTitle {
    font-size: x-small;
  }
}

@media only screen and (min-width: 900px) {
  .desktop {
    display: flex;
    justify-content:center;
  }
}
