.clickable {
  cursor: pointer;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

.example-card {
  max-width: 400px;
}

