<!--<p>
  <mat-form-field appearance="fill">
    <mat-label>Enter Host ID</mat-label>
    <input matInput type="text" [(ngModel)]="hostID" />
  </mat-form-field>
</p> -->
<div class="fixedNav">
  <app-topNav></app-topNav>
</div>
<div class="fixedHead">
  <p>Logged in HostID: {{ sessionhostID }}</p>

  <div class="desktop">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter Event Title</mat-label>
        <input matInput type="text" [(ngModel)]="eventTitle" />
        <!--<mat-error>{{ getErrorMessage() }}</mat-error>-->
      </mat-form-field>
    </p>

    <mat-form-field appearance="fill">
      <mat-label>Choose a Date</mat-label>
      <input
        matInput
        [min]="minDate"
        [matDatepicker]="picker"
        (dateInput)="setDate($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <h3>Click on at least three Movies below to select them for your Event</h3>

  <h3 style="color: red">
    {{ errormsg }}
  </h3>
  <div class="createBox">
    <p>
      <button mat-raised-button color="primary" (click)="createEvent()">
        Create Event
      </button>
    </p>
    <p *ngIf="confirmed" class="confirmation" style="color: green">
      <strong>{{ confmsg }}</strong>
    </p>
  </div>
</div>

<!-- TABLE TO DISPLAY CREATED EVENTS -->
<!--<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Date</th>
        <th scope="col">Movies Selected</th>
        <th scope="col">Votes Returned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viewing of events | keyvalue">
        <td>{{ viewing.value.eventTitle }}</td>
        <td>{{ viewing.value.eventDate }}</td>
        <h2 *ngFor="let selectedMovie of viewing.value.selectedMovies">
          <h4>{{ selectedMovie.title }}</h4>
        </h2>
        
        <mat-divider></mat-divider>
      </tr>
    </tbody>
  </table>
</div>-->

<!-- GRID TO DISPLAY MOVIES -->
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="content" *ngFor="let movie of eventMovies">
      <app-movie-card [movie]="movie"> </app-movie-card>
      <div class="movieTitle">{{ movie.title }}</div>
      <!-- <div class="movieTitle">{{ if (movie.shows.show[0].timestamp || movie.shows.show }}</div> -->
      <!-- <div class="moviesTitle">{{ Object.prototype.toString.call(movie.shows.show) !== '[object Array]' ? [movie.shows.show] : movie.shows.show[0].timestamp }}</div> -->
      <!-- if shows is an array, then show the first one, otherwise show the single show -->
      <div class="moviesTitle" *ngFor="let item of movie.shows[0].show"> <!-- {{ movie.shows[0].show[0].timestamp }}</div> -->
          <div class="moviesTitle">{{ item.timestamp }}</div>
      </div>
      <!-- <div class="moviesTitle">{{ movie.shows.show[0].timestamp ? movie.shows.show[0].timestamp : movie.shows }}</div> -->
    </div>
  </div>
</div>
