<app-topNav></app-topNav>
<h1>Your Events</h1>
<div class="logoutButton">
  <a
    href="https://auth.moviemeetup.com/logout?client_id=3can93q53vqr18qoidsi1g65l7&logout_uri={{
      logoutURL
    }}"
    mat-raised-button
    color="warn"
    >LogOut</a
  >
</div>
<a mat-raised-button color="primary" routerLink="/event">Build an Event</a>
<h2>Click on a link below to go to your Events</h2>
<div *ngFor="let event of movieEvents">
  <a mat-raised-button color="warn" [routerLink]="['/ranking', event.id]">{{
    event.eventTitle
  }}</a>
</div>

<div *ngFor="let event of movieEvents">
  <a
    mat-raised-button
    color="accent"
    [routerLink]="['/finalranking', event.id]"
    >{{ event.eventTitle }}</a
  >
</div>

<!-- TABLE TO DISPLAY CREATED EVENTS -->
<!-- <div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Date</th>
        <th scope="col">Movies</th>
        <th scope="col">Votes Submitted</th>
        <th scope="col">Voters</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viewing of movieEvents">
        <td>{{ viewing.eventTitle }}</td>
        <td>{{ viewing.eventDate }}</td>
        <td>{{ viewing.eventMovies }}</td>
        <td>{{ viewing.eventRankings?.length }}</td>
        <td>{{ viewing.eventRankings?.UserRankings?.userID }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
