<div class="nav">
  <app-topNav></app-topNav>
</div>
<!--<div class="logoutButton">
  <a
    href="https://auth.moviemeetup.com/logout?client_id=3can93q53vqr18qoidsi1g65l7&logout_uri={{
      logoutURL
    }}"
    mat-raised-button
    color="warn"
    >LogOut</a
  >
</div>-->
<div class="body">
  <h1>Your Events</h1>
  <a mat-raised-button color="primary" routerLink="/event">Build an Event</a>
  <h2>Click on a link below to go to your Events</h2>
  <!-- <div *ngFor="let event of movieEvents">
    <a mat-raised-button color="warn" [routerLink]="['/ranking', event.id]">{{
      event.eventTitle
    }}</a>
  </div>

  <div *ngFor="let event of movieEvents">
    <a
      mat-raised-button
      color="accent"
      [routerLink]="['/finalranking', event.id]"
      >{{ event.eventTitle }}</a
    >
  </div> -->

  <!-- TABLE TO DISPLAY CREATED EVENTS -->
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th scope="col">Event ID</th> -->
          <th scope="col">Event Date</th>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">Movies</th>
          <th scope="col">Invite Guests</th>
          <th scope="col">Votes Submitted</th>
          <th scope="col">Delete Event</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let viewing of movieEvents">
          <!-- <div *ngIf="viewing.eventDate<this.today"> -->
          <!-- <td>{{ viewing.id }}</td> -->
          <td>
            <a
              mat-raised-button
              color="basic"
              [routerLink]="['/ranking', viewing.id]"
              >{{ viewing.eventDate }}</a
            >
          </td>
          <!-- <td>{{ viewing.eventDate }}</td> -->
          <td>
            <ul class="movies" *ngFor="let movie of viewing.eventMovies">
              <li>{{ movie.title }}</li>
            </ul>
          </td>
          
          <td>
            <a
              mat-raised-button
              color="primary"
              href="mailto:?subject=You\'ve%20been%20invited%20to%20a%20gathering%20at%20Circle%20Cinema%20on%20'{{
                viewing.eventDate
              }}'&body=This tool will allow you to select which screenings are your favorites!%0A The movies showing on {{viewing.eventDate}} are:%0A{{viewing.eventMovies}}
              
              Before%20{{
                viewing.eventDate
              }},%20rank%20the%20screening%20options%20at:%0A%0A{{ this.url }}{{
                viewing.id
              }}%0A%0AThanks!"
            >
              Invite
            </a>
          </td>
          <td *ngIf="viewing.eventRankings; else dispZero">
            {{ viewing.eventRankings?.length }}
          </td>
          <!-- <td *ngIf="viewing.eventRankings; else dispZero">
            <ul class="no-bullets" *ngFor="let ranking of viewing.eventRankings">
              <li>{{ ranking.userID }}</li>
            </ul>
          </td> -->
          <ng-template #dispZero>
            <td>0</td>
          </ng-template>
          <td>
            <a class="flex-item"><mat-icon>delete</mat-icon></a>
          </td>
        <!-- </div> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
