<p>
  <mat-form-field appearance="fill">
    <mat-label>Enter User ID</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="value"
      (keyup.enter)="submitUserID()"
    />
  </mat-form-field>
</p>
<h3>User ID: {{ userID }}</h3>

<h1>Rank the Movies!</h1>
<p>
  First choice goes on the top of the list, last choice goes on the bottom of
  the list
</p>

<div>
  <h2>
    Top Choice:
    {{
      movieItemArray === undefined
        ? "Loading..."
        : movieItemArray.length === 0
        ? "No results"
        : movieItemArray[0].title + " " + " id: " + movieItemArray[0].id
    }}
  </h2>
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movieItemArray" cdkDrag>
    {{ movie.title }} id: {{ movie.id }}
    <img *cdkDragPreview [src]="movie.image" [alt]="movie.title" />
  </div>
</div>

<button mat-raised-button color="primary" (click)="submitRanking()">
  Submit
</button>

<h1>Current Highest Rank: {{ highestRank }}</h1>
