<!-- <h1>Event Title: {{ eventTitle }}</h1> -->
<h2>Event Date: {{ eventDate }}</h2>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Enter User ID</mat-label>
    <input matInput type="text" [(ngModel)]="userID" />
  </mat-form-field>
</p>

<h3>User ID: {{ userID === "" ? "No User ID entered" : userID }}</h3>

<h3 style="color: red">
  {{ errorMsg }}
</h3>
 
<h2>Rank the Movies!</h2>
<p>
  First choice goes on the top of the list, last choice goes on the bottom of
  the list
</p>

<div>
  <h2 >
    {{ userID === "" ? "Your" : userID + "'s" }} Current Top Choice:
    {{
      movieItemArray === undefined
        ? "Loading..."
        : movieItemArray.length === 0
        ? "No results"
        : movieItemArray[0].title + ' - ' + this.rankingConvert(movieItemArray[0].shows[0].show[0].timestamp)
    }}
  </h2>
</div>

<!-- Adjust this so they are dragging movie posters? -->
<div *ngIf="movieEvents" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movieItemArray"cdkDrag>
    <!--<div class="example-box" *ngFor="let screening of movie.shows[0].show" cdkDrag> -->
      <div class="example-custom-placeholder" *cdkDragPlaceholder>
      </div>
      <img src= "{{ movie.poster}}">
      {{ movie.title }}
      {{ this.rankingConvert(movie.shows[0].show[0].timestamp) }}
      {{ movie.shows[0].show[0].room }}
      
    
  </div>
</div>

<button mat-raised-button color="primary" (click)="submitRanking()">
  Submit
</button>
<p *ngIf="confirmed" class="confirmation" style="color: green">
  <strong>{{ confmsg }}</strong>
</p>


