<h2 mat-dialog-title>Enter the name you want in the voting results:</h2>

<mat-dialog-content>
  
    
    <p></p>
        <!-- <h2>Hello Popup world</h2> -->
            <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input matInput type="text" [(ngModel)]="userID" />
          </mat-form-field>
    
    
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Use Name</button>
</mat-dialog-actions>
